﻿@model CrudCoreMvc.Models.Vehicle
@{
    ViewData["Title"] = "Add";
}
<h1>Add</h1>

@using (Html.BeginForm("Add", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.VehicleId)
        @Html.TextBoxFor(m => m.VehicleId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Color)
        @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Capacity)
        @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control" })
    </div>

    <input type="submit" value="save"/>
}
