﻿@model CrudCoreMvc.Models.Vehicle
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
@using(Html.BeginForm("Delete","Vehicle",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.VehicleId)
        @Html.TextBoxFor(m => m.VehicleId, new { @class="form-control" })
    </div>

    <input type="submit" value="Delete"/>
}