﻿@model CrudCoreMvc.Models.Vehicle

@{
    ViewData["Title"] = "FindVehicle";
}

<h2>FindVehicle</h2>

@using (Html.BeginForm("FindVehicle", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.VehicleId)
        @Html.TextBoxFor(m => m.VehicleId, new { @class = "form-control" })
    </div>

    <input type="submit" value="Find" />


}

@if (Model !=null)
{
<div class="form-group">
    @Html.LabelFor(Model =>Model.VehicleId)
    @Html.TextBoxFor(Model => Model.VehicleId, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Name)
    @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Color)
    @Html.TextBoxFor(Model => Model.Color, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Price)
    @Html.TextBoxFor(Model => Model.Price, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Capacity)
    @Html.TextBoxFor(Model => Model.Capacity, new { @class = "form-control" })
</div>


}
