﻿@model  IEnumerable<CrudCoreMvc.Models.Vehicle>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th scope="col"><button onclick="location.href = '@Url.Action("Add","Vehicle")';return false;">Add</button></th>
            <th scope="col"><button onclick="location.href = '@Url.Action("Delete","Vehicle")';return false;">Delete</button></th>
            <th scope="col"><button onclick="location.href = '@Url.Action("FindVehicle","Vehicle")';return false;">FindVehicle</button></th>
        </tr>
    </thead>
</table>

<h2>Data Dispaly</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">VehicleId</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
        <tr>
            <td>@x.VehicleId</td>
            <td>@x.Name</td>
            <td>@x.Color</td>
            <td>@x.Price</td>
            <td>@x.Capacity</td>
        </tr>
        }
    </tbody>
</table>

